<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{%block title%}Sticky{%endblock%}

{%block body%}
    <div class="contact-navbar">
        <ul>
            <li><a href="/">Go to Home</a></li>
        </ul>
    </div>
    <form method="POST">
        <h2 class="notes-heading">Write your note</h2>   
        <div>
            <label for="name">Task name</label>
            <input type="text" name="name" id="name" placeholder="What to buy tomorrow">
        </div>
        <div>
            <label for="category">Category of Task</label>
            <input type="text" name="category" id="category" placeholder="random">
        </div>
        <div>
            <label for="task">Task</label>
            <input type="text" name="task" id="task" placeholder="Lorem ipsum whatever">
        </div>
        <input type="submit" value="Submit Task">

    </form>   
{% endblock %}
</html>