<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{%block title%}Sticky{%endblock%}

{%block body%}
    <div class="contact-main">
        <!-- Navbar -->
        <div class="contact-navbar">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <!-- Image -->
        <div class="contact-img">
            <img src="https://images.unsplash.com/photo-1670272506154-080063eee4be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1600&q=60" alt="Image of people laughing">
        </div>
        <!-- Contact Information -->
        <div class="contact-info">
            <h2 class="contact-heading">Contact Us</h2>
            <h3 class="contact-subtext">Have questions about how to use Sticky? <br> Send us an email using the form below.</h3>
            <p class="contact-paragragh">Lohmühlenstraße 65, <br> 12435 Berlin</p>
            <button class="contact-button"><a href="heizal.nagginda@code.berlin">Send us an email</a></button>
        </div>
    </div>  
{% endblock %}
</html>